<div id="<%= __TAG_CUSTOM_HTML %>">
    <!-- 引入用户HTML资源。 -->
    <%- include ../src/main %>
    <!-- 引入用户代码。 -->
    <%- htmlWebpackPlugin.tags.bodyTags %>
    <!-- 引入用户样式。 -->
    <%- htmlWebpackPlugin.tags.headTags %>
</div>